body { background: #ececec url('../images/myitworldsummerwallpaper-6.jpg') no-repeat fixed center; }

.navLabel{display: none}

#logo { margin: 2px 0 0 30px }
nav { background: none; height: 100%; top: 0; left: 300px; width: auto; transform: none; font-size: 1.4em; }
nav #navList { display: flex }
nav #navList div { margin: 2px 8px 0 16px; padding: 10px .6rem; border: 1px solid var(--semiColor2); border-radius: 7px }
nav #navList div i { margin: 0 10px 0 0 }
nav a{ opacity: 1 }

#loggedNavLabel {  margin: 0 1em 0 0 }

#usrMenu { width: 250px; right: unset;  padding: 6px; right: 0; top: 106%; box-shadow: 0 0 4px 1px #000 }
#usrMenu li{ padding: 8px 14px; align-items: center; background: var(--semiColor2); margin: 2px 0 }
#usrMenu li i { margin: 0 }

#usrNot { top: 106%; width: 330px;  box-shadow: 0 0 4px 1px #000 }

#usrNot .headerTxt, .indexRS p { font: 900 1em 'Merriweather', serif; padding: 4px; margin: 0 0 3px }

#usrNot .notText { font-size: .9em; width: 75% }
#usrNot .delete { cursor: pointer }

#menuLog { width: 440px; top: calc(50% - 163px); left: calc(50% - 220px) }

nav #navList div, .loginLabel, #menuLog input[type=submit], #menuLog a { transition: .2s }

nav #navList div:hover, #loggedNavLabel:hover, #notLabel:hover, .loginLabel:hover,
#menuLog input[type=submit]:hover, #menuLog a:hover { background: var(--semiColor12); cursor: pointer }