*, *::before, *::after { box-sizing: border-box; margin: unset; padding: unset; font-size: unset; color: unset }

:root {
  --headerSize: 50px;
  --color1: #4d2082;
  --color2: #5e2f98;
  --color3: #6a3ea3;
  --color4: #7e51b7;
  --color5: #8c60c6;
  --color6: #9a6fd6;
} 

/* :root {
  --color1: #D00000;
  --color2: #5B2A86;
  --color3: #C43E47;
  --color4: #8F3163;
  --color5: #68306E;
  --color6: #502C5E;
} */

body { background: #ececec url('../images/myitworldsummerwallpaper-6.jpg') no-repeat fixed; }

#mainMenu { background: var(--color4); display: block; position: fixed; width: 100%; height: var(--headerSize);
  text-align: center; box-shadow: 0 0 4px 1px #000; z-index: 1 }
#mainMenu a { text-decoration: unset }


#logo { display: flex; align-items: center; font-family: 'Merriweather', serif; font-weight: 900; font-size: 1.8em; width: 220px;
  margin: 2px 0 0 18px }

#logo svg { margin: 0 8px 0 0 }

nav { background: var(--color5); position: absolute; text-align: left; top: 100%; width: 100%;
  transform: scale(1, 0); transform-origin: top; transition: transform 200ms ease-in-out; z-index: 2 }
nav a, #usrMenu a { opacity: 0; transition: opacity 120ms ease-in-out }
nav #navList div { display: flex; padding: .6em .6em .6em 1em; margin: 10px 0 }
nav #navList div i, #usrMenu li i { margin: 0 20px 0 0; -webkit-transform:rotateZ(0); -moz-transform:rotateZ(0);
  -o-transform:rotateZ(0); transform:rotateZ(0) scale(var(--ggs,1)); transition: 0.4s }
nav #navList div:hover i, #usrMenu li:hover i { transform: rotateY(180deg) scale(var(--ggs,1)) }

#navToggle:checked ~ nav { transform: scale(1, 1) }
#navToggle:checked ~ nav a, #notToggle:checked ~ #usrNot ul { opacity: 1; transition: opacity 180ms ease-in-out 180ms }
#navToggle:checked ~ .navLabel { background-color: rgba(255, 255, 255, 0.5) }
#navToggle:checked ~ .navLabel::before {
  content: ''; position: fixed; left: 0; top: 50px; width: 100vw; height: 100vh; background: var(--toneColor6);
  cursor: default; z-index: 1 }


.navLabel { position: absolute; display: flex; height: 100%; top: 0; right: 1%; padding: 10px 17px }

.icon {
  transform: scale(var(--ggs))
}
  
.i-list, .i-list::after, .i-list::before { display: block; position: relative; width: 20px; height: 2px; top: 4px;
  border-left: 3px solid;  border-right: 15px solid; border-radius: 1px; }
.i-list::after, .i-list::before { content: ''; left: -3px }
.i-list::after { top: 8px }
.i-list::before { top: 5px }
  





.d-none{ display: none }

